.category{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 11rem;
    gap: 1rem;
    /* line-height: 2; */
}
.category .category-heading{
    text-transform: uppercase;
    color: rgb(239, 104, 74);
    font-size: 1.2rem;
}

.category span{
    color: rgb(5, 165, 112);
}

.card-container{
    display: grid;
    /* grid-auto-columns: repeat(4, auto); */
    grid-template-columns: repeat(4, auto);
    margin: 0 18px;
    width: 80%;
    gap: 1rem;

    /* margin-right: 32px; */
    /* margin-left: 68px; */
}
.card .card-text{
    /* margin-block: 15px 25px; */
    
}
.card:nth-child(1){
    background: rgb(180, 229, 202);
    color: rgb(65, 72, 78);
}

.card:nth-child(1):hover{
    background: rgb(153, 191, 171);
    transition: ease-in 0.2s;
}

.card:nth-child(2){
    background: rgb(242, 193, 197);
    color: rgb(65, 72, 78);
}
.card:nth-child(2):hover{
    background: rgb(222, 171, 175);
    transition: ease-in 0.2s;
}
.card:nth-child(3){
    background: rgb(213, 203, 246);
    color: rgb(65, 72, 78);
}
.card:nth-child(3):hover{
    background: rgb(180, 170, 211);
    transition: ease-in 0.2s;
}

.card:nth-child(4){
    background: rgb(230, 237, 158);
    color: rgb(65, 72, 78);
}
.card:nth-child(4):hover{
    background: rgb(201, 207, 135);
    transition: ease-in 0.2s;
}
.card:nth-child(1) .card-img{
    background: rgb(141, 209, 173);
}

.card:nth-child(2) .card-img{
    background:rgb(223, 157, 162);
    color: black;
}
.card:nth-child(3) .card-img{
    background:rgb(193, 182, 232);
    /* color: black; */
}
.card:nth-child(4) .card-img{
    background: rgb(216, 225, 122);
    /* color: black; */
}

.card:nth-child(1) .card-course{
    border-radius: 5px;
    /* width: 50%; */
    background: rgb(141, 209, 173);
    color: rgb(9, 147, 73);
    padding: 5px 11px;
    width: max-content;

}

.card:nth-child(2) .card-course{
    border-radius: 5px;
    /* width: 50%; */
    padding: 5px 11px;
    width: max-content;
    background:rgb(223, 157, 162);
    color: rgb(215, 55, 68);

}
.card:nth-child(3) .card-course{
    border-radius: 5px;
    /* width: 50%; */
    padding: 5px 11px;
    width: max-content;
    background:rgb(193, 182, 232);
    color: rgb(111, 78, 230);
    /* color: black; */
}
.card:nth-child(4) .card-course{
    border-radius: 5px;
    padding: 5px 11px;
    width: max-content;
    background: rgb(190, 197, 113);
    /* color: black; */
    color: rgb(114, 123, 15);
}

/* .card-img:nth-child(2){
    background: rgb(209, 144, 180);
} */
.card{
    display: grid;
    padding: 50px 30px;
    /* background: rgb(141, 209, 173); */
    text-align: center;
    border-radius: 10px;
    /* margin-left: 30px; */
    /* width: 90%; */
    /* padding-top: 50px; */
    /* padding-left: 15px; */
    /* padding-right: 25px; */
    position: relative;
    /* left: 40px; */
    gap: 1.5rem;
    place-items: center;
    /* right: 40px; */
    text-align: center;
    cursor: pointer;
}

.card-img{
    width: 70px;
    /* FONT-VARIANT: JIS04; */
    background: red;
    /* color: red; */
    /* text-align: center; */
    place-items: center;
    display: grid;
    /* align-items: center; */
    justify-content: center;
    height: 70px;
    border-radius: -15%;
    border-radius: 50%;
    margin-inline: auto;
     /* margin-block-end: 30px; */
}

.category-head{
    color: black;
    font-size: 1.2rem;
}

@media screen and (max-width:1024px){
    .card-container{
        width: 90%;
    }
    .card{
        padding: 27px 20px;
    }
}

@media screen and (max-width:850px) {
    .card-container{
        grid-template-columns: repeat(2,auto);
    }
}

@media screen and (max-width:576px) {
    .card-container{
        grid-template-columns: 1fr;
    }
}